@mainFontC: #fff;

.contact-div{
  background: #353535;
  color: @mainFontC;
  padding: 20px;
  z-index: 0;
}
.contact-div i{
  font-size: 2em;
  padding: 5px 5px 5px 20px;
}
.contact-div h4{
  padding: 0 20px 0 0;
}
.contact-div a{
  color: @mainFontC;
  text-decoration: none;
}