#main-body{
  background: #999;
  height: 100vh;
  transition: all 0.3s;
}

#main-body #heading{
  background: #fff;
  color: #222;
  transition: all .1s;
  overflow: hidden;
}
#main-body .show-heading{
  box-shadow: 0 0 15px 7.5px #000;
  height: 50px;
  position: relative;
  z-index: 1;
}
#main-body .hide-heading{
  height: 0;
}

.main-body-div{
  background: #999;
  padding: 0 0 50px;
}
