@backC: #323232;
@mainFontC: #79CDCD;
@profileBack: #aaa;
@surfaceShadow: 10px 0 10px #000;

.side-bar{
  background: @backC;
  box-shadow: @surfaceShadow;
  height: 100vh;
  position: fixed;
  text-align: center;
}
.hide-side-bar{
  left: -25%;
}

.side-bar-button {
   background: @backC;
   border: none;
   border-radius: 0 0 25px 0;
   box-shadow: @surfaceShadow;
   font-size: 2em;
   left: 100%;
   padding: 5px 15px;
   position: absolute;
 }
.side-bar-button i{
  color: @mainFontC;
  transition: all .3s;
}
.side-bar-button i:hover{
  color:#fff;
  text-shadow: 0 0 5px #fff;
}
.side-bar .hide-side-bar-button{
  display: none;
}

.side-bar hr{
  border: 0;
  background-image: linear-gradient(to right, rgba(255,255,255,0), @mainFontC, rgba(255,255,255,0));
  height: 1px;
  margin-bottom: 0;
  width: 60%;
}
.side-bar i{
  color: #fff;
  display: inline-block;
  font-size: 1.5em;
}

.side-bar .main-heading{
  color: @mainFontC;
  font-weight: 400;
  margin: 0;
  padding-top: 15px;
}

.side-bar .profile-picture{
  background: @profileBack;
  border: .5px solid #000;
  border-radius: 25%;
  box-shadow: @surfaceShadow;
  margin: 20px 0 0 10px;
  padding: 15px;
  width: 85%;
}

.side-bar .sub-heading-container{
  padding: 50px 0 0 10px;
  text-align: left;
}
.side-bar .sub-heading{
  color: @mainFontC;
  font-weight: 400;
}

.side-bar .description-container{
  color: @mainFontC;
  font-weight: 400;
  text-align: justify;
}

.side-bar .personal-interest-container{
  color: @mainFontC;
  padding: 20px 0 0 0;
  text-align: center;
}
.side-bar .personal-interest-container .content{
  text-align: left;
}
.side-bar .personal-interest-container ul{
  list-style: none;
}
.side-bar .personal-interest-container i{
  color: #fff;
  font-size: 1.5em;
  padding-right: 15px;
}

.side-bar .personalty-container{
  color: @mainFontC;
  font-weight: 400;
  text-align: center;
}
.side-bar .personalty-container a{
  color: @mainFontC;
  text-decoration: none;
  transition: all .3s;
}
.side-bar .personalty-container a:hover{
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 5px #fff;
}
